[submodule "storage/kvpmem/extra/kvdk"]
	path = storage/kvpmem/extra/kvdk
	url = https://github.com/pmem/kvdk


[submodule "storage/kvpmem/extra/pmemkv"]
	path = storage/kvpmem/extra/pmemkv
	url = https://github.com/pmem/pmemkv
